body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 100px;
    background-color: #1c1c1c;
    color: white;
}

#talk {
    padding: 15px 30px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background-color: #00aaff;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}
#talk:hover{
    background-color: red;
}
#vipul{
    color: #ff0084;
}